# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
*.env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Data & outputs
/data/
*.csv
*.xlsx
*.zip

# Models & artifacts
/models/
*.pkl
*.joblib

# Token or secrets
token.txt

# Logs
*.log
